{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teste</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}
    </head>
    <body>
        <body>
            <div class="container-fluid p-2 bg-primary text-white">
              <h1 class="display-6">Projeto Base</h1>
            </div>
            <div class="container-fluid p-2 bg-secondary text-white">
              <p class="display-6">Tela de Login do Projeto Base</p>
            </div>
            <div class="container mt-4 pt-5">
                <div class="row aling-items-center">
                  <div class="col-md-10 mx-auto col-lg-5">
                    <form
                      method="get"
                      class="p-4 p-md-5 border rounded-3 bg-light"
                    >
                      <div class="form-floating mb-3">
                        <input
                          type="Nome"
                          class="form-control"
                          id="inputNome"
                          placeholder="Nome"
                        />
                        <label for="inputNome">Nome</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input
                          type="password"
                          class="form-control"
                          id="inputPassword"
                          placeholder="Senha"
                        />
                        <label for="inputPassword">Senha</label>
                      </div>
                      <button class="btn btn-lg btn-primary" type="submit">Entrar</button>
                    </form>
                  </div>
                </div>
              </div>       
    </body>
</html>